.home-input {
  margin-right: auto;
  margin-left: 100px;
}

.Google-verify-link {
  color: #ffffff;
  text-decoration: none;
}

.Google-verify-link:hover {
  color: #ffffff;
  text-decoration: none;
}
