.smooth-scroll {
  will-change: transform;
  min-height: 150vh;
  width: 100%;
  padding-top: 50px;
  position: fixed; /* 改为固定定位 */
  top: 0;
  left: 0;
}
main {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background: linear-gradient(to bottom, #7a282d);
  color: white;
  font-family: "Alata", "Gloock", "Noto Serif SC", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
