<!-- 固定的主导航栏 -->
<nav class="main-nav">
  <ul>
    <li>
      <a href="{{ROOT}}index.html" class="icon-link">
        <img
          src="{{ROOT}}assets/images/home.svg"
          alt="主页"
          width="24"
          height="24"
        />
      </a>
    </li>
    <li><a href="{{ROOT}}pages/team.html">团队</a></li>
    <li><a href="{{ROOT}}pages/projects.html">项目</a></li>
    <li><a href="{{ROOT}}pages/us.html">联系我们</a></li>
    <li>
      <a href="{{ROOT}}pages/sponsor.html" class="icon-link">
        <img
          src="{{ROOT}}assets/images/bitcorn.svg"
          alt="赞助"
          width="24"
          height="24"
        />
      </a>
    </li>
  </ul>
  
  <!-- ⭐ Google 搜索表单 - 在新标签页打开搜索结果 -->
  <form 
    class="search-form" 
    action="https://www.google.com/search" 
    method="get" 
    target="_blank"
  >
    <input 
      type="search" 
      name="q" 
      placeholder="Whatever you want..." 
      required 
      aria-label="Google 搜索"
    />
    <input type="submit" value="搜索" />
  </form>
</nav>

<!-- 下拉的详细导航栏 -->
<div class="nav-container">
  <nav class="detail-nav">
    <ul>
      <li><a href="#">关于我们</a></li>
      <li><a href="#">团队成员</a></li>
      <li><a href="#">项目案例</a></li>
      <li><a href="#">技术栈</a></li>
    </ul>
  </nav>
</div>
