<!-- 固定的主导航栏 -->
<nav class="main-nav">
  <ul>
    <li>
      <a href="{{ROOT}}index.html" class="icon-link">
        <img
          src="{{ROOT}}assets/images/home.svg"
          alt="主页"
          width="24"
          height="24"
        />
      </a>
    </li>
    <li><a href="{{ROOT}}pages/team_introduction.html">团队</a></li>
    <li><a href="{{ROOT}}pages/projects_introduction.html">项目</a></li>
    <li><a href="{{ROOT}}pages/contact_us.html">联系我们</a></li>
    <li>
      <a href="{{ROOT}}pages/sponsor.html" class="icon-link">
        <img
          src="{{ROOT}}assets/images/money.svg"
          alt="赞助"
          width="24"
          height="24"
        />
      </a>
    </li>
  </ul>
  <form class="search-form">
    <input type="search" name="q" />
    <input type="submit" value="搜索" />
  </form>
</nav>

<!-- 下拉的详细导航栏 -->
<div class="nav-container">
  <nav class="detail-nav">
    <ul>
      <li><a href="#">关于我们</a></li>
      <li><a href="#">团队成员</a></li>
      <li><a href="#">项目案例</a></li>
      <li><a href="#">技术栈</a></li>
    </ul>
  </nav>
</div>
